.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 20px;
}

.card {
  padding: 1.5em;
  height: fit-content;
  background-color: #FFEC99 !important;
  border-radius: 12px;
  box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.2);
}

.card h2 {
  margin-bottom: 0.8em;
}

.all-stats {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.all-stats p {
  font-weight: bold;
}

.global {
    background-color: white;
  border-radius: 12px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.2);
}

.card-content {
  background-color: white;
  border-radius: 12px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.2);
}

.card-content p {
  margin: 0;
}
