<div class="home-content">
  <h1 class="geo-title">Geo Battle</h1>
  <p class="geo-subtitle">Devenez le maître de la géographie Affrontez l’IA et prouvez votre niveau</p>

  <div class="geo-buttons-main">
    <%= link_to "Affronter notre IA", chats_path,
        data: { turbo_method: :post },
        class: "gb-btn gb-btn--test" %>

    <%= link_to "Commencer le jeu", new_game_path,
        class: "gb-btn gb-btn--start" %>
  </div>
</div>

<%= link_to "À propos de GeoBattle", "#", class: "gb-btn-about gb-btn-about--floating" %>
