<div class="home-green">
  <div class="home-blue d-flex align-items-center justify-content-center">
    <div class="home-map" >

      <h1 class="geo-title">GeoBattle</h1>
      <p class="geo-subtitle">Testez vos connaissances en géographie</p>
      <div class="geo-buttons">
        <%= link_to "commencer", "#", class: "btn btn-start" %>
        <%= link_to "a propos de GeoBattle", "#", class: "btn btn-about" %>
      </div>
    </div>
  </div>
</div>
