<%= turbo_stream_from @game %>

<div class="container d-flex flex-column justify-content-center align-items-center" data-controller="question-response">

    <%= render "user_answers/replace_question", game_question: @questions.last, game: @game, user_answer: UserAnswer.new %>

  <div class="result_container result_container_hidden" data-question-response-target="answer">
    <div class="response_container" >
      <h2>La Bonne réponse est :</h2>
      <div class="question_title">
        <p><%= @game.game_questions.last.correct_answer %></p>
        <div class="contexte_container">
          <p><%= @game.game_questions.last.contexte %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="quiz-toolbar quiz-toolbar-hidden" data-question-response-target="timerContainer">
    <div
      class="progress"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      aria-valuenow="0"
      aria-label="Timer">
      <div class="progress_bar" data-question-response-target="progressBar"></div>
    </div>
    <%# <span class="time" data-question-response-target="timer"></span> %>
  </div>
</div>
