
.navbar-lewagon {
  background-color: transparent !important;
  box-shadow: none !important;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.navbar-lewagon .navbar-brand,
.navbar-lewagon .nav-link {
  color: white !important;
}
