<p>Bienvenue<%= @email %>!</p>

<p>Nous sommes heureux de vous compter parmi les joueurs de GeoBattle ! Veuillez valider votre email en cliquant sur le lien ci-dessous:</p>

<p><%= link_to 'Valider mon email et créer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
