<p>Bonjour<%= @resource.email %>!</p>

<p>Votre compte a été bloqué dû à un nombre excessif de tentatives de connexion.</p>

<p>Veuillez cliquer sur le lien ci-dessous pour débloquer votre compte:</p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
